---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/TimeLine.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<BaseLayout title="{{SITE_TITLE}}">
  <div class="mb-1">
    <div class="text-4xl w-full font-bold">Pedro Dalvy</div>
  </div>

  <div class="mb-0">
    <div class="text-2xl w-full font-bold">Desenvolvedor Back-end</div>
  </div>

  <div class="mb-5">
    <div class="inline flex justify-between">
      <div class="text-2sm opacity-75">pedrodalvy@outlook.com</div>
      <div class="opacity-75 pb-2 flex justify-end">
        <a
          href="https://github.com/pedrodalvy"
          target="_blank"
          aria-label="Github"
          title="Github"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"
            ></path>
          </svg>
        </a>

        <a
          href="https://www.linkedin.com/in/pedro-dalvy"
          target="_blank"
          aria-label="Linkedin"
          title="Linkedin"
          class="mx-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><circle cx="4.983" cy="5.009" r="2.188"></circle><path
              d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"
            ></path>
          </svg>
        </a>

        <a
          href="mailto:pedrodalvy@outlook.com"
          target="_blank"
          aria-label="pedrodalvy@outlook.com"
          title="Email"
        >
          <svg
            fill="#000000"
            width="24"
            height="24"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            xml:space="preserve"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <g id="style=fill">
                <g id="email">
                  <path
                    id="Subtract"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M7 2.75C5.38503 2.75 3.92465 3.15363 2.86466 4.1379C1.79462 5.13152 1.25 6.60705 1.25 8.5V15.5C1.25 17.393 1.79462 18.8685 2.86466 19.8621C3.92465 20.8464 5.38503 21.25 7 21.25H17C18.615 21.25 20.0754 20.8464 21.1353 19.8621C22.2054 18.8685 22.75 17.393 22.75 15.5V8.5C22.75 6.60705 22.2054 5.13152 21.1353 4.1379C20.0754 3.15363 18.615 2.75 17 2.75H7ZM19.2285 8.3623C19.5562 8.10904 19.6166 7.63802 19.3633 7.31026C19.1101 6.98249 18.6391 6.9221 18.3113 7.17537L12.7642 11.4616C12.3141 11.8095 11.6858 11.8095 11.2356 11.4616L5.6886 7.17537C5.36083 6.9221 4.88982 6.98249 4.63655 7.31026C4.38328 7.63802 4.44367 8.10904 4.77144 8.3623L10.3185 12.6486C11.3089 13.4138 12.691 13.4138 13.6814 12.6486L19.2285 8.3623Z"
                  ></path>
                </g>
              </g>
            </g>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <div class="mb-5 text-justify">
    <p class="mb-2">
      Estou sempre aprendendo algo novo e gosto de novos desafios,
      principalmente quando posso aproveitar a experiência adquirida com eles.
      Também gosto de trabalhar em equipe, ajudar meus colegas, gosto bastante
      de implementar testes e estou sempre buscando a simplicidade na resolução
      de problemas.
    </p>

    <p>
      Com mais de 8 anos de experiência na área TI, comecei como Técnico de
      Suporte e posteriormente atuei como QA. Atualmente, trabalho como
      Desenvolvedor, utilizando NodeJS e TypeScript, além de ter experiência na
      linguagem PHP, com o Framework Laravel, e em bancos de dados PostgreSQL,
      MongoDB, MySQL e Elasticsearch, bem como cache utilizando Redis. Também
      tenho habilidades em realizar testes unitários e de integração com Jest e
      PHPUnit, além de ter trabalhado com Code Review, Deploy e monitoramento
      constante das aplicações.
    </p>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiência</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Desenvolvedor Back-end - Fintech Magalu (Luizalabs)"
      subtitle="De 2022 até o momento - Remoto"
      desc="Atuo com o desenvolvimento e manutenção de microservices em NodeJS, utilizando tanto JavaScript quanto TypeScript. Trabalho com bancos de dados PostgreSQL e MongoDB, bem como ferramentas como Redis e RabbitMQ. Realizo testes de unidade e de integração utilizando Jest. Além do desenvolvimento em si, também realizo Code Review, Deploy e monitoramento constante das aplicações."
    />
    <TimeLineElement
      title="Desenvolvedor Back-end - Grupo Imagetech"
      subtitle="De 2021 até 2022 - Remoto"
      desc="Minha principal responsabilidade era desenvolver aplicações RESTful utilizando PHP com o Framework Laravel, além de aplicativos GraphQL usando NestJS em NodeJS para uma arquitetura de microservices. Também fui responsável por implementar testes unitários e de integração em ambos os projetos, utilizando as ferramentas PHPUnit e Jest, além disso, trabalhei com bancos de dados SQL Server e Postgres."
    />
    <TimeLineElement
      title="Desenvolvedor Back-end - Before Tecnologia da Informação"
      subtitle="De 2020 até 2021 - Remoto"
      desc=" Trabalhei com o Framework Laravel em um complexo sistema monolítico e com muito código legado. Utilizei o banco de dados MySQL para gerenciar grandes volumes de dados, além de Elasticsearch, Kibana e Logstash para gerar relatórios detalhados dentro da aplicação. Também criei testes de integração usando PHPUnit, e trabalhei em estreita colaboração com a equipe de QA, ajudando a realizar testes e identificar erros para garantir que o produto atendesse às expectativas do cliente."
    />
    <TimeLineElement
      title="QA e Desenvolvedor Full Stack - Quality Sistemas"
      subtitle="De 2018 até 2020 - Campo Grande, MS"
      desc="Comecei como QA na empresa, onde trabalhei na identificação e encaminhamento para correção de erros nos projetos em PHP. Realizei testes nos sistemas web e atuei com consultas e correções em bancos de dados MySQL e Firebird. Após demonstrar habilidades técnicas e de resolução de problemas, recebi a oportunidade de atuar como Desenvolvedor PHP, onde implementei correções e melhorias nos projetos existentes. Também criei manuais de projetos web para ajudar a equipe de suporte e outros desenvolvedores a entenderem melhor as funcionalidades do sistema."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Formação</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Análise e Desenvolvimento de Sistemas"
      subtitle="2019 até 2021 na Universidade Estácio de Sá, Campo Grande, MS"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>TypeScript</li>
    <li>Node</li>
    <li>NestJS</li>
    <li>JavaScript</li>
    <li>Express</li>
    <li>PHP</li>
    <li>RabbitMQ</li>
    <li>Postgres SQL</li>
    <li>MySQL</li>
    <li>MongoDB</li>
    <li>ElasticSearch</li>
    <li>Docker</li>
    <li>Kubernetes</li>
    <li>Git</li>
    <li>Laravel</li>
  </ul>
</BaseLayout>
